<!doctype html>

<head>
    <title>{% block title %}{% endblock %} - Observe and Code</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Montserrat">
    <style>
    body{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
      }
    </style>
</head>

<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">COSPEX-2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('print_db.insert_question') }}">Insert Question</a>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </ul>

    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 1px black;">
    <a class="navbar-brand" href="/home"><h2 style="font-family: Audiowide; font-weight: 700;">Observe and Code</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('print_db.insert_question') }}">Insert Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        
      </ul>
    </div>
  </nav>

<section class="content">
    <div>
        {% block header %}{% endblock %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>